.shopping-list-item {
  width: max-content;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 5px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: rgba(0, 0, 0, 0.10);

    .list-header .delete-list-btn {
      display: flex;
    }
  }

  .list-header {
    height: 80%;
    display: flex;
    justify-content: center;

    .delete-list-btn {
      position: absolute;
      top: 0;
      right: 0;
      color: red;
      width: 20px;
      height: 20px;
      background-color: white;
      display: none;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      padding: 5px;
      transform: translate(50%, -50%);

      &:hover {
        background-color: lightgrey;
      }
    }
  }

  .list-description {
    height: 20%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin-top: 5px;

    .list-name, .list-date {
      text-align: center;
    }

    .list-name {
      font-weight: bold;
    }

    .list-date {
      font-size: 12pt;
    }
  }
}
