.shopping-list-layout {
  padding: 25px;

  .shopping-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .list-title {
      font-weight: bold;
      font-size: 30pt;
      text-transform: uppercase;
      width: 80%;
      height: 50px;

      .input-style {
        background-color: rgba(0, 0, 0, 0.25);
        border: none;
        padding: 0 5px;

        Input {
          color: white;
          font-size: 30pt;
          font-weight: bold;
          text-transform: uppercase;
          padding: 0;
        }
      }
    }

    .btn {
      font-size: 20pt;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .shopping-list {
    margin-top: 25px;
    padding: 25px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

    table {
      width: 100%;
      color: grey;
      border-collapse: collapse;
      border-spacing: 0;

      thead th {
        background-color: white;
        text-align: left;
        font-size: 8pt;
        padding: 10px 5px;
      }

      tr {
        &:nth-child(odd) { background-color: #FCFAFA; }
        &:nth-child(even) { background-color: #ECECEC; }
      }
    }

    .shopping-list-items {
      display: flex;
      flex-direction: column;
    }

    .shopping-list-add-button {
      margin-top: 10px;
      display: flex;
      gap: 10px;
      background-color: #F7C159;
      color: white;
      font-weight: bold;
      border-radius: 4px;
      padding: 5px;
      cursor: pointer;

      &:hover {
        opacity: 0.75;
      }
    }

    .shopping-list-total {
      margin-top: 15px;
      color: black;
      font-weight: bold;
      font-size: 24pt;
      text-align: right;

      .total-label {
        color: grey;
      }

      .total-value {
        margin-left: 10px;
      }
    }
  }
}
