.shopping-list-row {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  width: 100%;
  user-select: none;

  td {
    padding: 5px;
    white-space: nowrap;
  }

  .delete-btn {
    color: #F77F59;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &.disabled {
      color: grey;
      cursor: unset;
    }

    &:not(.disabled):hover {
      opacity: 0.5;
    }
  }

  .product-name {
    height: 100%;
    display: flex;
    align-items: center;

    .product-label {
      margin-left: 5px;
    }
  }
}
