.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 10px;

  .header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-content {
    margin-top: 10px;
    width: 100%;
  }

  .btn {
    background-color: white;
    border-radius: 100vmax;
    border: none;
    color: #F7C159;
    padding: 15px 20px;
    display: block;
    height: max-content;
    font-size: 12pt;
  }
}
