$app-background: #F7C159;
$white: #FFFFFF;

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $white;
}

button {
  background-color: transparent;
  border: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $app-background;
  color: $white;
}
